@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    /* Well most of the text will have line-height of 1.6. But for h1 and h2
    elements if they don't fit into one line then the line spacing between 
    the lines should be 1.2 instead of 1.6 */
    line-height: 1.2;
    /* margin of 10px in y-axis makes sure there is enough space between 
    two h1 or h2 elements */
    margin: 10px 0;
}

p {
    /* Adds spacing between two para */
    margin: 10px 0;
}

img {
    /* Makes sure images takes the entire width */
    width: 100%;
}

.navbar {
    background-color: #047aed;
    color: #fff;
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    color: #fff;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.container {
    /* max-width makes sure that the size of the container is never larger
    than 1100px. Similarly, min-width makes sure that the size of the 
    container is never less than abc pixels.
    The container stays in the center because the margin is auto from x-axis. 
    So, when we open the page on a large screen 1100px are left from both 
    side of x-axis.*/
    max-width: 1100px;
    margin: 0 auto;
    /* h1 and h2 elements have margin of 10px in y-axis. This leads to some 
    overflow in y-axis. overflow: auto take care of it. */
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}