@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    /* This is a css variable. Root means targeting the entire html */
    /* Syntax: --VariableName */
    --primary-color: #047aed;
    --secondary-color: blue;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2 {
    font-weight: 300;
    /* Well most of the text will have line-height of 1.6. But for h1 and h2
    elements if they don't fit into one line then the line spacing between 
    the lines should be 1.2 instead of 1.6 */
    line-height: 1.2;
    /* margin of 10px in y-axis makes sure there is enough space between 
    two h1 or h2 elements */
    margin: 10px 0;
}

p {
    /* Adds spacing between two para */
    margin: 10px 0;
}

img {
    /* Makes sure images takes the entire width */
    width: 100%;
}

/* Navbar Starts */

.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar a {
    padding: 10px;
    margin: 0 5px;
    color: #fff;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

/* Navbar Ends */



/* Showcase */

.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    /* overflow: visible makes sure when the card height crosses that of showcase it is visible */
    overflow: visible;
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-form {
    position: relative;
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

/* When we click on name or email it doesn't show any external border */
.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    /* before and after is placed inside the showcase element. 
    Showcase is positioned relative, so this element can be 
    positioned absolute to it. */
    content: '';
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background: #fff;
    transform: skewY(-3deg);
    /* Prefixes for Chrome, Firefox and Internet Explorer */
    -webkit-transform: skewY(-3deg);
    -moz-transform: skewY(-3deg);
    -ms-transform: skewY(-3deg);
}



/* Showcase ends */



/* Stats Starts */

.stats {
    padding-top: 100px;
}

.stats-heading {
    max-width: 500px;
    margin: auto;
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
    color: var(--secondary-color);
}


/* Stats Ends */



/* Cli */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-row creates 2 rows */
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid img {
    /* The image goes from 1 to 2 columns */
    grid-column: 1 / span 2;
    /* The image goes from 1 to 2 rows */
    grid-row: 1 / span 2;
}


/* Media Queries */

/* Tablets and under */
@media(max-width: 924px) {

    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
    }

    .showcase-form {
        justify-self: center;
        margin: auto;
    }

    .cli .grid img {
        grid-column: 1;
        grid-row: 1;
    }
}

/* Mobile */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}